{% extends 'common/base.html' %} {% block header %} {% endblock %} {% block content %}

<script type="text/javascript">
// Load and display the list of file
function load_arfiles(trigger) {
	$.ajax({   
        type: "GET",
        url: "/peakAnalyzer/basespace/{{session_id}}/"+trigger.split("__")[1]+"/listAppResultFiles",       
        dataType:'text',   
        success: function(data, textStatus){
        		$(trigger).html(data);
		}
	})
}


function load_safiles(trigger) {
	$.ajax({   
        type: "GET",
        url: "/peakAnalyzer/basespace/{{session_id}}/"+trigger.split("__")[1]+"/listSampleFiles",    
        dataType:'text',   
        success: function(data, textStatus){
        		$(trigger).html(data);
		}
	})
}
</script>




<div class="span3">
<li class="nav-header"><a href="#"><i
class="icon-home icon-white"></i> <i class="icon-user"></i>{{ user.Name }}</a>
</li>
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
{% for project in projects_list %}
	<li class="nav-header"><i class="icon-book"></i>{{ project.Name }}</li>
	  <hr>AppResults</hr>
	{% for appresult in project.appresult_set.all %}
		<li><a class="accordion-toggle" data-toggle="collapse" data-target="#ar__{{ appresult.AppResultId }}" href="#" onclick=load_arfiles("#ar__{{ appresult.AppResultId }}") ><i class="icon-list"></i>{{ appresult.Name }}</a></li>
	  <div id="ar__{{ appresult.AppResultId }}" class="collapse" > Loading...</div>
	{% endfor %}
        <hr>Samples</hr>
	{% for sample in project.sample_set.all %}
                <li><a class="accordion-toggle" data-toggle="collapse" data-target=data-target="#sa__{{ sample.SampleId }}" href="#" onclick=load_safiles("#sa__{{ sample.SampleId }}") ><i class="icon-plus"></i>{{ sample.Name }}</a></li>
         <div id="sa__{{ sample.SampleId }}" class="collapse" > Loading...</div>
    {% endfor %}
{% endfor %}
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
   
{% endblock %}
