{% extends 'common/base.html' %} {% block header %} {% endblock %} {% block content %}

<script type="text/javascript">

//refresh job list

 $(document).ready(function() {
 	 $("#joblist_container").load("/peakAnalyzer/jobserver/{{ user.id }}/listjob");
   var refreshId = setInterval(function() {
      $("#joblist_container").load("/peakAnalyzer/jobserver/{{ user.id }}/listjob");
   }, 5000);
   $.ajaxSetup({ cache: false });
});



// Load and display the list of file
function load_arfiles(trigger) {
	$.ajax({   
        type: "GET",
        url: "/peakAnalyzer/basespace/{{session_id}}/"+trigger.split("__")[1]+"/listAppResultFiles",       
        dataType:'text',   
        success: function(data, textStatus){
        		$(trigger).html(data);
		}
	})
}


function load_safiles(trigger) {
	$.ajax({   
        type: "GET",
        url: "/peakAnalyzer/basespace/{{session_id}}/"+trigger.split("__")[1]+"/listSampleFiles",    
        dataType:'text',   
        success: function(data, textStatus){
        		$(trigger).html(data);
		}
	})
}


 addedFiles={};
function add_list(trigger_obj)
{
var name=trigger_obj.innerHTML
if(!addedFiles.hasOwnProperty(name))
{
var fid=trigger_obj.id.split("__")[1]
var html="<tr><td>\
<select id=cb__"+fid+" name=cb__"+fid+"> \
  <option>Sample</option> \
  <option>Control</option>\
  <option>Delete</option>\
 </select>\
 </td><td>"+name+"</td></tr>";
     $("#datalists").append(html);
     $("#inputGenome").attr("placeholder",trigger_obj.getAttribute('genome'));
     addedFiles[name]=true;
}
}


function test()
{
 var postdata = "";
 var ctrl_ids="";
 var sample_ids="";
 $("*[name*='cb__']").each(function(i) {
                if ($(this).val() =="Control") {
                        line = $(this).attr("name");
                        ctrl_ids += line.split("__")[1] + ',';
                }
                else if($(this).val() =="Sample") 
                {
                	 line = $(this).attr("name");
                        sample_ids += line.split("__")[1] + ',';
                }
        });
postdata+='ctrl_ids='+ctrl_ids;
postdata+='&sample_ids='+sample_ids;
postdata+='&inputTitle='+$('#inputTitle').val() ;
postdata+='&inputGenome='+$('#inputGenome').val() ;    
window.alert(postdata);

}

function submit_job()
{

 var postdata = "";
 var ctrl_ids="";
 var sample_ids="";
 $("*[name*='cb__']").each(function(i) {
                if ($(this).val() =="Control") {
                        line = $(this).attr("name");
                        ctrl_ids += line.split("__")[1] + ',';
                }
                else if($(this).val() =="Sample") 
                {
                	 line = $(this).attr("name");
                        sample_ids += line.split("__")[1] + ',';
                }
        });
postdata+='ctrl_ids='+ctrl_ids;
postdata+='&sample_ids='+sample_ids;
postdata+='&inputTitle='+$('#inputTitle').val() ;
postdata+='&inputGenome='+$('#inputGenome').val() ;    
postdata+='&inputCell='+$('#inputCell').val() ;   


		$.ajax({   
        type: "POST",
        url: "/peakAnalyzer/basespace/{{session_id}}/submitJob/", 
        data: postdata,      
        dataType:'text',   
        success: function(data, textStatus){
        		window.alert(data);
        		$("#joblist_container").load("/peakAnalyzer/jobserver/{{ user.id }}/listjob");
		}
	})
}


</script>


<div class="row-fluid">

<div class="span3">
<li class="nav-header"><a href="#"><i
class="icon-home icon-white"></i> <i class="icon-user"></i>{{ user.Name }}</a>
</li>
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
{% for project in projects_list %}
	<li class="nav-header"><i class="icon-book"></i>{{ project.Name }}</li>
	 <hr>Local Files</hr>
	  <hr>AppResults</hr>
	{% for appresult in project.appresult_set.all %}
		<li><a class="accordion-toggle" data-toggle="collapse" data-target="#ar__{{ appresult.AppResultId }}" href="#ar__{{ appresult.AppResultId }}" onclick=load_arfiles("#ar__{{ appresult.AppResultId }}") ><i class="icon-list"></i>{{ appresult.Name }}({{appresult.Detail}})</a></li>
	  <div id="ar__{{ appresult.AppResultId }}" class="collapse" > Loading...</div>
	{% endfor %}
        <hr>Samples</hr>
	{% for sample in project.sample_set.all %}
                <li><a class="accordion-toggle" data-toggle="collapse" data-target="#sa__{{ sample.SampleId }}" href="#sa__{{ sample.SampleId }}" onclick=load_safiles("#sa__{{ sample.SampleId }}") ><i class="icon-plus"></i>{{ sample.Name }}({{sample.Detail}})</a></li>
         <div id="sa__{{ sample.SampleId }}" class="collapse" > Loading...</div>
    {% endfor %}
{% endfor %}
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        
 <div class="span9">
         
          <form class="form-horizontal" id="form_jobdata" >
          <table  class="table table-bordered" id=datalists>
          <tr><td> <label class="control-label" for="inputTitle">Job Title</label> </td> <td><input type="text" id="inputTitle" name="inputTitle" placeholder="Job Title"></td></tr>
         <tr><td> <label class="control-label" for="inputGenome">Reference Genome</label> </td> <td><input type="text" id="inputGenome" name="inputGenome" placeholder="{{genome_names}}"></td></tr>
         <tr><td> <label class="control-label" for="inputCell">Cell Type</label> </td> <td><input type="text" id="inputCell" name="inputCell" placeholder="cell"></td></tr>
         
         <tr><td>Data Type</td><td>File Name</td></tr>
          
          </table>
        
	   <button class="btn btn-danger" type="button" onclick="submit_job()">Submit Job</button>
          </form>
	  
          
  </div><!--/span-->
  
   <div class="span9" id="joblist_container">
   
   </div>
 </div><!--/row-->
{% endblock %}
