{% extends "registration/base.html" %}

{% block title %}Activation complete{% endblock %}

{% block content %}
<style>
#start {
    display: block;
    width: 200px;
    height:100px;
    margin: 10px auto;
    }
</style>
<div class="container">
<div class="row-fluid">
<div class="span8 offset2">
<div class="well">
<h1 align="center">Congratulations!</h1>
<br>
<h5 align="center">Your registration is now complete.</h5>
    
</div>
</div>
</div>
</div>
<a id= "start" href="/peakAnalyzer/accounts/login/">
<button   class="btn-info btn" type="submit">Start PeakAnalyzer! <span class="icon-thumbs-up"></span></button>
</a> 
{% endblock %}