{% extends "registration/base.html" %}

{% block title %}Activation complete{% endblock %}

{% block navbar %}
	<li class="divider-vertical"></li>
	<li><a href="/peakAnalyzer/accounts/login/">Sign In</a></li>				
{% endblock %}
{% block content %}
<style>
#start {
    display: block;
    width: 200px;
    height:100px;
    margin: 10px auto;
    }
    
 #container_activationcomplete {
	padding-top: 50px;
}
</style>
<div class="container" id="container_activationcomplete">
<div class="row-fluid">
<div class="span8 offset2">
<div class="well">
<h1 align="center">Congratulations!</h1>
<br>
<h5 align="center">Your registration is now complete.</h5>
    
</div>
</div>
</div>
</div>
<a id= "start" href="/peakAnalyzer/accounts/login/">
<button   class="btn-success btn-large btn" type="submit">Start PeakWhiz! <span class="icon-thumbs-up icon-white"></span></button>
</a> 
{% endblock %}