<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<!-- CSS -->
<!-- <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"
	type="text/css" /> -->
<link rel="stylesheet"
	href="/../peakAnalyzer/static/bootstrap/css/bootstrap-responsive.css" type="text/css" />
<link rel="stylesheet" href="/../peakAnalyzer/static/css/pgsadmin.less" type="text/less" />
<link rel="stylesheet" href="/../peakAnalyzer/static/bootstrap/css/bootstrap.min.css" type="text/css" />
<!-- <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/ui-darkness/jquery-ui.css" type="text/css" /> -->

<!-- LESS -->
<script type="text/javascript"
	src="/../peakAnalyzer/static/js/less-1.3.0.min.js"></script>

<!-- JavaScript -->
<script type="text/javascript" src="/../peakAnalyzer/static/js/pgsadmin.js"></script>
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.js"></script>
<script type="text/javascript" src="/../peakAnalyzer/static/bootstrap/js/bootstrap.min.js"></script>

   <title>{% block title %}Tagging Exploration{% endblock %}</title>
</head>

<body>
<div class="navbar">
<div class="navbar-inner">
<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse"> <span class="icon-bar"></span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> </a> <a
					class="brand" href="/home">PeakAnalyzer</a>
<div class="nav-collapse">
					<ul class="nav pull-right">
			
						{% block navbar %}{% endblock %}

					</ul>
				</div>
				</div>
				</div>
			
				

</div>
    <div id="sidebar">
        {% block sidebar %}{% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
        {% block main_content %}{% endblock %}
    </div>
</body>
</html>