<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="/../peakAnalyzer/static/bootstrap/css/bootstrap.min.css" type="text/css" />
<style type="text/css">
/* Override some defaults */


body {
	padding-top: 80px;
}
</style>
</head>
<body>
<div class="container">
<div class="row-fluid">
    <div class="span5 offset1">
      <div class="well">
        <legend>Sign in</legend>
        <form method="POST" action="?next={{ next|default:"/regular/listProject" }}" accept-charset="UTF-8">{% csrf_token %}
            <div class="alert alert-error">
                <a class="close" data-dismiss="alert" href="#">x</a>Incorrect Username or Password!
            </div>      
            <input class="span3-fluid" placeholder="Username" type="text" name="username">
            <input class="span3-fluid" placeholder="Password" type="password" name="password"> 
            <label class="checkbox">
                <input type="checkbox" name="remember" value="1"> Remember Me
            </label>
            <button class="btn-info btn" type="submit">Login</button>      
        </form>    
      </div>
    </div>


<div class="span5">
<div class="well">
  	<legend>New to PeakAnalyzer? Sign up!</legend>
    <form accept-charset="UTF-8" action="" method="post">
		<input class="span3-fluid" name="name" placeholder="Username" type="text"> 
        <input class="span3-fluid" name="username" placeholder="Email" type="text">
        <input class="span3-fluid" name="password" placeholder="Password" type="password">
        <input class="span3-fluid" name="confirmpassword" placeholder="Confirm Password" type="password"> 
        <button class="btn btn-warning" type="submit">Register</button>
    </form>
</div>
</div>
</div>
</div>
</body>
</html>
