<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet"
	href="/../peakAnalyzer/static/bootstrap/css/bootstrap-responsive.css" type="text/css" />
<link rel="stylesheet" href="/../peakAnalyzer/static/css/pgsadmin.less" type="text/less" />
<link rel="stylesheet" href="/../peakAnalyzer/static/bootstrap/css/bootstrap.min.css" type="text/css" />
<style type="text/css">
/* Override some defaults */

.title {
	padding-top: 40px;
}


.container {
	padding-top: 100px;
}
</style>
</head>
<body>

<h1 class="title" align="center">PeakAnalyzer</h1>
<div class="container">
<div class="row-fluid">
    <div class="span5 offset4">
      <div class="well">
        <legend>Sign in</legend>
        <form method="POST" action="?next={{ next|default:"/regular/listProject" }}" accept-charset="UTF-8">{% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-error">
                <p>Incorrect Username or Password!</p>
            </div>
            {% endif %}      
            <input class="span3-fluid" placeholder="Username" type="text" name="username">
            <input class="span3-fluid" placeholder="Password" type="password" name="password"> 
            <label class="checkbox">
                <input type="checkbox" name="remember" value="1"> Remember Me
            </label>
            <button class="btn-info btn" type="submit">Login</button>      
        </form>    
      </div>
    </div>
</div>
</body>
</html>
