{% extends "registration/base.html" %}
{% block title %} Login {% endblock %}
{% block navbar %}
	<li class="divider-vertical"></li>
	<li><a href="/peakAnalyzer/accounts/register">New here? <strong>Sign up</strong></a></li>				
{% endblock %}
{% block content %}
<style>
/* Override some defaults */

.title {
	padding-top: 40px;
}


#container_login {
	padding-top: 50px;
}
</style>
</head>
<body>

<h1 class="title" align="center">PeakWhiz</h1>
<div class="container" id="container_login">
<div class="row-fluid">
     <div class="span6 offset3"> 
      <div class="well">
        <legend>Sign in</legend>
        <form method="POST" action="?next={{ next|default:"/regular/listProject" }}" accept-charset="UTF-8">{% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-error">
                <p>Incorrect Username or Password!</p>
            </div>
            {% endif %}      
            <input class="span3-fluid" placeholder="Username" type="text" name="username">
            <input class="span3-fluid" placeholder="Password" type="password" name="password"> 
            <label class="checkbox">
                <input type="checkbox" name="remember" value="1"> Remember Me
            </label>
            <button class="btn-info btn" type="submit">Login</button>      
        </form>
        <a href="/peakAnalyzer/accounts/password/reset/">Forgot your password?</a>
        </div>    
      </div>
    </div>
</div>
</body>
</html>
{% endblock %}