{% extends "registration/base.html" %}

{% block title %}Logged out{% endblock %}

{% block content %}
<style>
#start {
    display: block;
    width: 200px;
    height:100px;
    margin: 10px auto;
    display: block;
    text-align:center;
    }
</style>
<div class="container">
<div class="row-fluid">
<div class="span8 offset2">
<div class="well">
<h1 align="center">You've been logged out successfully.</h1>
<br>
<h5 align="center">Thanks for stopping by!</h5>
</div>
</div>
</div>
</div>
<a id= "start" href="/peakAnalyzer/accounts/login/">
<button   class="btn-primary btn-large btn" type="submit">Back to Login <span class="icon-circle-arrow-right"></span></button>
</a>
{% endblock %}