{% extends "registration/base.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"></div>{% endblock %}

{% block title %}{% trans "Password reset" %}{% endblock %}
{% block navbar %}
	<li class="divider-vertical"></li>
	<li><a href="/peakAnalyzer/accounts/login/">Sign In</a></li>				
{% endblock %}

{% block content %}
<style>
#container_resetform {
	padding-top: 50px;
}
</style>
<div id="container_resetform" class="container">
<div class="row-fluid">
<div class="span8 offset2">
<div class="well">
<h1 align="center">{% trans "Password reset" %}</h1>

<h5 align="center">{% trans "Forgotten your password? Not to worry! Enter your e-mail address below, and we'll e-mail you instructions for setting a new one." %}</h5>

<legend></legend>
<form action="" method="post">
	{% csrf_token %}

<p>
<input class="span3-fluid" placeholder="Email" type="text" name="email">
{% if form.email.errors %}
            <div class="alert alert-error">
            <p class="errors">{{ form.email.errors.as_text }}</p>
               </div>
            {% endif %}    

<button class="btn btn-inverse" type="submit" value="{% trans 'Reset my password' %}">Reset password</button>
</p>
</form>
</div>
</div>
</div>
</div>

{% endblock %}
