{% extends "registration/base.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"></div>{% endblock %}

{% block title %}{% trans 'Password reset complete' %}{% endblock %}

{% block content %}
<div class="container">
<div class="row-fluid">
<div class="span8 offset2">
<div class="well">
<h1 align="center">{% trans 'Password reset complete' %}</h1>

<h5 align="center">{% trans "Your password has been set.  You may go ahead and log in now." %}</h5>

</div>
</div>
</div>
</div>
<button   class="btn-primary btn-large btn" type="submit"><a href="{{ login_url }}">{% trans 'Log in' %} <span class="icon-circle-arrow-right"></span></a></button>

{% endblock %}


{% block content-related %}

{% endblock %}