{% extends "registration/base.html" %}

{% block title %}Sign up{% endblock %}

{% block content %}
<style type="text/css">
.title{
padding-top:40px;
}
#container_register {
	padding-top: 50px;
}
</style>
{% block link %}
<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse"> <span class="icon-bar"></span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> </a> <a
					class="brand" href="/home">PeakAnalyzer</a>
<div class="nav-collapse">
					<ul class="nav pull-right">
			
						<li class="divider-vertical"></li>
						<li><a href="/peakAnalyzer/accounts/login">Have an account? Sign In</a></li>

					</ul>
				</div>
				</div>
				
{% endblock %}
<h1 class="title" align="center">Create a PeakAnalyzer account!</h1>
<div class="container" id="container_register">
<div class="row-fluid">
<div class="span6 offset3">
<div class="well">
 
  <legend> Register </legend>
  <form method="post" action="" class="wide">
	{% csrf_token %}
    <p>
      <label for="id_username">Username:</label>      
      {{ form.username }}
      {% if form.username.errors %}
      <div class="alert alert-block">
        <p class="errors">{{ form.username.errors.as_text }}</p>
      </div>
      {% endif %}
    </p>
    <p>
      <label for="id_email">Email:</label>
         {{ form.email }}
         {% if form.email.errors %}
        <div class="alert alert-block">
        <p class="errors">{{ form.email.errors.as_text }}</p>
      </div>
      {% endif %}
    </p>
    <p>
      <label for="id_password1">Password:</label>
          {{ form.password1 }}
          {% if form.password1.errors %}
        <div class="alert alert-block">
        <p class="errors">{{ form.password1.errors.as_text }}</p>
        </div>
      {% endif %}
    </p>
    <p>
      <label for="id_password2">Confirm Password:</label>
         {{ form.password2 }}
         {% if form.password2.errors %}
        <div class="alert alert-block">
        <p class="errors">{{ form.password2.errors.as_text }}</p>
        </div>
      {% endif %}
    </p>
    
      {% if form.non_field_errors %}
      <div class="alert alert-block">
  <p class="errors">{{ form.non_field_errors.as_text }}</p>
    </div>
    {% endif %}
    
     <button class="btn btn-warning" type="submit">Create My Account</button>

  </form>
  </div>
  </div>
  </div>
  </div>
{% endblock %}


