{% load job_extras %}
<script type="text/javascript" charset="utf-8" src="/../peakAnalyzer/static/datatables1.9.4/media/js/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="/../peakAnalyzer/static/datatables1.9.4/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf-8" language="javascript" src="/../peakAnalyzer/static/datatables1.9.4/media/js/DT_bootstrap.js"></script> 
<link rel="stylesheet" type="text/css" href="/../peakAnalyzer/static/datatables1.9.4/media/css/DT_bootstrap.css">
<script type="text/javascript" charset="utf-8" language="javascript" src="/../peakAnalyzer/static/js/jquery.form.js"></script>

<div>
<form action="/peakAnalyzer/basespace/{{session_id}}/jobManagement/" id="job_management_form">
<table class="table table-bordered" id="table_joblist">
<thead><tr><th>Select</th><th>JobId</th><th>Title</th><th>Submit Date</th><th>Status</th><th></th></tr></thead>
<tbody>
{% for job in jobs_list %}
<tr id=job__{{ job.id }} class={{css|lookup:job.status}} ><td><input class="selectjob" type="checkbox" name="job" value={{job.id}}  id=cj__{{job.id}} ></td><td>{{job.id}} </td><td>{{job.jobtitle}}</td><td>{{job.submitDate}}</td><td id="td_status">{{job.status}}</td> 
<td>
{% ifequal job.status "Completed" %}
    <a href="../../../jobserver/{{job.id}}/viewresult/" target="blank">View Result</a>
{% endifequal %}

</td>
</tr>
{% endfor %}
</tbody>
</table>
<div id="buttons">
  <button class="btn btn-info" type="button" onclick="refresh_table()">Refresh <span class='icon-refresh icon-white'></span></button>
 <button class="btn btn-inverse" name="delete" type="submit" id="button_deletejob" >Delete <span class='icon-trash icon-white'></span></button>
 <button class="btn btn-warning" name="rerun" type="submit" id="button_rerunjob" >Re-run <span class='icon-repeat icon-white'></span></button>
</div>
</form>
<script>
		$('#table_joblist').dataTable({
			"sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
			"sPaginationType": "bootstrap",
			"aoColumns":[{ "bSortable": false },{ "bSortable": "numeric" },{ "bSortable": "string" },{ "bSortable": false },{ "bSortable": "string" },{ "bSortable": false }]
			});
			
		 $('#job_management_form').ajaxForm(function() { 
                alert("SUbmitted!"); 
            }); 


</script>
</div>