{% load job_extras %}
<script type="text/javascript" charset="utf-8" src="/../peakAnalyzer/static/datatables1.9.4/media/js/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="/../peakAnalyzer/static/datatables1.9.4/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf-8" language="javascript" src="/../peakAnalyzer/static/datatables1.9.4/media/js/DT_bootstrap.js"></script>

<link rel="stylesheet" type="text/css" href="/../peakAnalyzer/static/datatables1.9.4/media/css/DT_bootstrap.css">

<script>
$(document).ready( function () {
		$('.table.table-bordered').dataTable({
			"sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
			"sPaginationType": "bootstrap",
	
			});
	

} );
</script>

<table class="table table-bordered">
<tr><td>Select</td><td>JobId</td><td>Title</td><td>Submit Date</td><td>Status</td><td></td></tr>
{% for job in jobs_list %}

<tr id=job__{{ job.id }} class={{css|lookup:job.status}} ><td><input type="checkbox" id=cj__{{job.id}} ></td><td>{{job.id}} </td><td>{{job.jobtitle}}</td><td>{{job.submitDate}}</td><td>{{job.status}}</td> 

<td>
{% ifequal job.status "Completed" %}
    <a href="../../../jobserver/{{job.id}}/viewresult/" target="blank">View Result</a>
{% endifequal %}

</td>
</tr>

{% endfor %}
</table>